* {
    /* background-color: rgb(219, 219, 219); */
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

  }
  
  html{
      scroll-behavior: smooth;
  }

/*  ########### TOPBAR ############### */

.topbar {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  margin: 15px;
  padding: 16px;
  border-radius: 16px;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  box-shadow: 10px 10px 20px rgb(163, 163, 163);
}

#logo {
  margin-right: 50%;
  background-color: white;
}

#logo img {
  height: 35px;
}



.upper-con{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: green; */
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    width: 100%;
    box-shadow: 10px 10px 20px rgb(163, 163, 163);
    padding: 5px;
    border-radius: 16px;
    font-family: "Poppins", sans-serif;
    background-color: rgb(255, 255, 255);
}



.container h4{
    margin-top: 50px;
}


/* ############   TABLE   ########### */

.content-table{
    border-collapse: collapse;
    margin: 50px 0;
    min-width: 500px;
}

.content-table th{
    background-color: rgb(255, 255, 255);
    text-align: left;
    font-weight: bold;
}
.content-table td{
    /* background-color: white; */
}

.content-table th,
.content-table td{
    padding: 12px;
    margin: 15px;

}

.content-table tr{
    border-bottom: 1px solid rgb(189, 189, 189);
}

.content-table tr:nth-of-type(even){
    background-color: rgb(245, 245, 245);
}