* {
    /* background-color: rgb(255, 255, 255); */
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}

html {
    scroll-behavior: smooth;
}


/* :root {
    --title-color: #dba39a;
    --foreground-color: #f0dbdb;
    --table1: #f5ebe0;
    --table2: #fefcf3;
} */

/* :root {
    --title-color: #222831;
    --foreground-color: #393E46;
    --table1: #00ADB5;
    --table2: #EEEEEE;
} */

/* :root {
    --title-color: #7286D3;
    --foreground-color: #8EA7E9;
    --table1: #E5E0FF;
    --table2: #FFF2F2;
} */

/* :root {
    --title-color: #FD8A8A;
    --foreground-color: #F1F7B5;
    --table1: #A8D1D1;
    --table2: #9EA1D4;
} */




/* :root {
    --title-color: #285430;
    --foreground-color: #5F8D4E;
    --table1: #A4BE7B;
    --table2: #E5D9B6;
} */

:root{
    --title-color: #6E85B7;
    --foreground-color: #B2C8DF;
    --table1: #C4D7E0;
    --table2: #F8F9D7;
}

.sidebar {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.top {
    width: 100%;
    position: fixed;
    background-color: white;
    padding: none;
    margin: none;
    top: 0;
}

.content {
    margin-left: 50%;
}

.foreground {
    background-color: var(--foreground-color);
    padding: 16px;
    margin: 16px;
    border-radius: 16px;
    /* box-shadow: 10px 10px 20px rgb(163, 163, 163); */
}



.topbar {
    background-color: var(--title-color);
    display: flex;
    align-items: center;
    justify-content: center;

}

.querybar {
    background-color: var(--foreground-color);
    display: flex;
    align-items: center;
    justify-content: center;

}

#logo {
    margin-right: 50%;
    /* background-color: white; */
}

#logo img {
    height: 35px;
}



.upper-con {
    display: flex;
    align-items: center;
    justify-content: center;
}



.input-box,
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.container {
    flex-direction: column;
}

input {
    padding: 8px;
    margin: 5px 15px;
    border: none;
    border-bottom: 1px solid var(--title-color);
    background-color: var(--table2);
    border-radius: 8px;
    width: 12%;
}

button {
    padding: 8px;
    margin: 5px;
    border-radius: 8px;
    box-shadow: none;
    border: none;
    cursor: pointer;
    background-color: var(--title-color);
}

button:hover {
    background-color: var(--table2)
}

button:active {
    background-color: var(--table1);
    transform: translateY(1px);
}

.container h4 {
    margin-top: 50px;
}



/* ############   TABLE   ########### */

.content-table {
    border-collapse: collapse;
    margin: 50px 0;
    min-width: 80%;
}

.content-table th {
    background-color: var(--title-color);
    text-align: left;
    font-weight: bold;
}


.content-table th,
.content-table td {
    padding: 16px;

}

.content-table tr {
    border-bottom: var(--title-color);
}

.content-table tr:nth-of-type(even) {
    background-color: var(--table1);
}

.content-table tr:nth-of-type(odd) {
    background-color: var(--table2);
}